<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Employee </h3>
            <hr />
            <div class="card-body">
                <form #addUserForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text"
                                    id="name" 
                                    [(ngModel)]="employee.name"
                                    name="name"
                                    #uname="ngModel" 
                                    class="form-control"
                                    
                                    />
                                <!-- <div *ngIf="!uname?.valid && (uname?.dirty || uname?.touched)" class="invalid-feedback">
                                    <div *ngIf="uname.errors['required']">
                                        Name is required
                                     </div>
                                     <div *ngIf="uname.errors.minlength">
                                       Name Minimum Length is {{uname.errors.minlength?.requiredLength}}
                                     </div>
                                </div> -->
                            </div>
                        </div>
                    
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" 
                                id="emailId" 
                                [(ngModel)]="employee.emailId"
                                name="emailId" 
                                class="form-control" />
                                <!-- <div *ngIf="submitted && addUserForm.email.errors" class="invalid-feedback">
                                    <div *ngIf="email.errors.required">Email is required</div>
                                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Phone Number</label>
                                <input type="text" class="form-control" id="phoneNumber"
                                    [(ngModel)]="employee.phoneNumber" name="phoneNumber">
                              
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Deartment</label>
                                <select class="form-control" id="departmentId" [(ngModel)]="employee.departmentId"
                                    name="departmentId">
                                    <option>Select Department</option>
                                    <option *ngFor="let department of departmentList" [ngValue]="department.id">
                                        {{department.name}}
                                    </option>
                                </select>
                              
                            </div>
                        </div>
                    
                        
                    </div>
            
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Date of Birth</label>
                                <input type="date" class="form-control" id="dateOfBirth"
                                    [(ngModel)]="employee.dateOfBirth" name="dateOfBirth"/>
                              
                            </div>
                        </div>
                    
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Date of Joining</label>
                                <input type="date" class="form-control" id="dateOfJoining"
                                    [(ngModel)]="employee.dateOfJoining" name="dateOfJoining"/>
                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                    
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>UserType</label>
                                <select [(ngModel)]="employee.userType" (change)="onUserTypeChange()"
                                    class="form-control" id="userType" name="userType">
                                    <option>Select User Type</option>
                                    <option *ngFor="let userType of userTypeList" [value]="userType">{{userType}}
                                    </option>
                                </select>
                               
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Reorting Manager</label>
                                <select class="form-control" id="reportingUserId" [(ngModel)]="employee.reportingUserId"
                                    name="reportingUserId">
                                    <option>Select Reporting User</option>
                                    <option *ngFor="let user of reportingUserList" [ngValue]="user.id">{{user.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
            
                    <br>
                    <button type="submit" class="btn btn-primary" [disabled]="!addUserForm.valid">Submit</button>
                </form>
                <!-- <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> First Name</label>
                        <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName"
                            name="firstName">
                    </div>

                    <div class="form-group">
                        <label> Last Name</label>
                        <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName"
                            name="lastName">
                    </div>

                    <div class="form-group">
                        <label> Email Id</label>
                        <input type="text" class="form-control" id="emailId" [(ngModel)]="employee.emailId"
                            name="emailId">
                    </div>
                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form> -->
            </div>
        </div>
    </div>
</div>